body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
}

.contacts {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
.page-nav {
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  position: relative;
  color: #404bbf;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}
.address {
  font-style: normal;
}
.page-nav:hover,
.page-nav:focus {
  color: #404bbf;
}
header {
  background-color: #ffffff;
  margin-bottom: 0;
}
.title {
  background-color: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-title.jpg);
}
.skrools {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}
.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.nameto {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.nametree {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 8px;
}
.our-team {
  background-color: #f4f4fd;
}

footer {
  background-color: #2e2f42;
  color: #ffffff;
  height: 312px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  margin-right: 76px;
}

.logoone {
  color: #f4f4fd;
}
.logo2 {
  color: #2e2f42;
}

.text {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
}

h2,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
}
.header-page {
  border-bottom: 1px solid #e7e9fc;
  display: block;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-page .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.global-nav {
  display: flex;
  align-items: center;
}
.navigation-page {
  display: flex;
  gap: 40px;
}
.page-nav {
  display: block;
  padding: 24px 0;
}

.page-contacts {
  display: flex;
  gap: 40px;
}
/* section 2 */
.info-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.info {
  width: calc((100% - 72px) / 4);
}

.icon-info {
  display: flex;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  height: 112px;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
}
.icon-info-item {
  display: flex;
  flex-shrink: 0;
}

/*============================ */

/* Section 3 */
/* ========================== */
.team-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.cards {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.card-info {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.text-card {
  margin-bottom: 8px;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}
.icon-icon {
  fill: #f4f4fd;
  flex-shrink: 0;
  margin: 12px;
}
/* section 4 */
/* ========================== */
.projects {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.projects-cards {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-cards:hover .projects-cover-text {
  transform: translateY(0);
}

.projects-cards:hover,
.projects-cards:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.info-projects {
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  width: 360px;
  padding: 32px 16px;
}

.projets-cover-wrap {
  position: relative;
  overflow: hidden;
}

.projects-cover-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* footer */
/* ================= */

.content-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.chil {
  width: 264px;
  margin-right: 120px;
}

.child {
  width: 208px;
}
.text-footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
}
.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-info {
  display: flex;
  flex-direction: column;
}
.logofooter {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 16px;
}

.social-link {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.social-link-text {
  color: #ffffff;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.icon-footer-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.icon-footer-item {
  width: 40px;
  height: 40px;
}

.icon-footer-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer-link:hover,
.icon-footer-link:focus {
  background-color: #31d0aa;
}
.icon-footer-icon {
  fill: #f4f4fd;
  flex-shrink: 0;
  margin: 8px;
}

/* =================== */
